@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
:root {
  --main-color: #003047;
  --blue: #1090d4;
  --grey: #878787;
  --orange: #edb964;
  --light-blue: #cadee9;

  --title: 20px;
  --subtitle: 18px;
  --paragraph: 13px;
  --paragraph-2: 11px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f0eeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hoja {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 240mm;
  height: auto;
  background: var(--light-blue);
  margin: 40px auto;
}
.myInfo {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #003047;
  padding: 50px 0;
  color: white;
  gap: 30px;
}
.myInfo .perfil {
  width: 250px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
}
.myInfo .perfil h1 {
  font-size: var(--title);
  font-weight: bold;
  line-height: 2em;
  letter-spacing: 2px;
}
.myInfo .perfil h3 {
  position: relative;
  font-size: var(--subtitle);
  font-weight: 100;
  color: var(--light-blue);
  letter-spacing: 1px;
  line-height: 110%;
}
.myInfo .perfil h3:after {
  content: "";
  position: absolute;
  background: var(--grey);
  width: 100%;
  height: 1px;
  bottom: -15px;
  left: 0;
}
.myInfo .perfil img {
  width: 250px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px auto;
}
.myInfo .content {
  width: 250px;
}
.myInfo .subtitle {
  font-size: var(--subtitle);
  letter-spacing: 2px;
}
.myInfo ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
.contactInfo ul li a i {
  color: var(--blue);
  margin-right: 12px;
}
.contactInfo ul li a {
  font-size: var(--paragraph);
  color: var(--light-blue);
  text-decoration: none;
}
.contactInfo ul li a[href]:hover {
  text-decoration: underline;
}

.education ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.education ul li h4 {
  font-size: var(--paragraph-2);
  color: var(--blue);
  letter-spacing: 1px;
}
.education ul li h3 {
  font-size: var(--paragraph);
  letter-spacing: 1px;
  font-weight: 500;
}
.education ul li span {
  font-size: var(--paragraph);
  font-weight: 100;
  color: var(--light-blue);
}

.descri {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
}
.descri .content {
  width: 100%;
  background: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 10px;
}
.descri .about {
  grid-column: 1/4;
  grid-row: 1/2;
}
.descri .about p {
  font-size: var(--paragraph);
  text-align: justify;
}
.content .title {
  font-size: var(--title);
  color: var(--main-color);
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.skills {
  grid-column: 1/3;
  grid-row: 2/3;
}
.skills ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--small);
}
.skills ul li {
  display: flex;
  flex-direction: row !important;
  position: relative;
  font-size: var(--small);
  text-align: justify;
}
.skills ul li h3 {
  font-size: var(--paragraph);
  letter-spacing: 1px;
  color: var(--grey);
  font-size: var(--paragraph-2);
  line-height: 120%;
}
.skills ul li i {
  color: var(--blue);
  margin: 2px 10px 0 0;
  font-size: var(--paragraph-2);
}

.lan {
  grid-column: 3/4;
  grid-row: 2/3;
}
.lan ul li {
  display: flex;
  flex-direction: column;
}
.lan ul li h4 {
  color: var(--blue);
}
.lan ul li span {
  width: 100%;
}
.lan ul li span i {
  color: var(--main-color);
  font-size: var(--subtitle);
}

.proyects {
  grid-column: 1/4;
  grid-row: 3/4;
}
.proyects .container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}
.proyects .container a {
  position: relative;
  width: 49%;
  min-width: 15em;
  height: 12em;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.5s;
}
.proyects .container a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.proyects .container a img {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}
.proyects .container a .info {
  position: absolute;
  width: 100%;
  bottom: -100%;
  z-index: 100;
  padding: 10px;
  background: white;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  background: var(--main-color);
  color: white;
}
.proyects .container a .info h3 {
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.proyects .container a .info p {
  font-size: var(--paragraph);
  color: var(--light-blue);
}
.proyects .container a:hover .info {
  bottom: 0;
}

.hobbies {
  grid-column: 1/4;
  grid-row: 4/5;
}
.hobbies ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.hobbies ul i {
  color: var(--blue);
  margin-right: 10px;
  font-weight: bold;
}
.hobbies ul span {
  font-weight: bold;
}

@media screen and (max-width: 990px) {
  .hoja {
    margin: 20px;
  }
  .skills ul li {
    flex-direction: column;
    align-items: start;
    margin: 0 5px;
  }
  .proyects .container a {
    width: 90%;
  }
  .hobbies ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hobbies ul li i {
    margin-right: 0;
  }
}
@media screen and (max-width: 888px) {
  .hoja {
    grid-template-columns: 1fr;
    margin: 10px;
  }
  .descri {
    padding: 15px 10px;
    gap: 20px !important;
  }
  .about .content {
    width: 70%;
  }
  .proyects .container a {
    width: 49%;
  }
}
@media screen and (max-width: 600px) {
  .proyects .container a {
    width: 100%;
  }
  .hoja .descri {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
